@import '../../index.scss';

.Dropped {
    position: relative;
    left: 55%;
    width: 40%;
    border-bottom: 2px solid $light-gray-blue;
    .FlexCont {
        display: flex;
        margin-bottom: 2%;
    }

    .TitleBlock {
        margin-left: 2%;
        width: 90%;
        h1 {
            height: min-content;
            display: block;
            margin: auto 0px;
        }
        :hover {
            color: $fc-hover;
        }
    }

    .SVGBlock {
        margin: auto 0px;
        height: min-content;
        width: 5%;
        svg {
            display: block;
            width: 10px;
            margin: 0px auto;
            transform: rotate(180deg);
            transition: transform 0.5s;
        }
    }

    p {
        margin-left: 2%;
    }
}

.Folded {
    position: relative;
    left: 55%;
    width: 40%;
    border-bottom: 2px solid $light-gray-blue;

    .FlexCont {
        display: flex;
        margin-bottom: 2%;
    }

    .TitleBlock {
        margin-left: 2%;
        width: 90%;
        h1 {
            font-weight: $fw-500;
            color: $vdark-gray-blue;
            height: min-content;
            display: block;
            margin: auto 0px;
        }
        :hover {
            color: $fc-hover;
        }
    }

    .SVGBlock {
        margin: auto 0px;
        height: min-content;
        width: 5%;
        svg {
            display: block;
            width: 10px;
            margin: 0px auto;
            transition: transform 0.5s;
        }
    }
}
