@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600&display=swap');

:root {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

//Colour variables
    //primary
$gradient-blue: #6565e7;
$gradient-violet: #af67e9;

$vdark-desat-blue: #1d1e35;
$soft-red: #f47c57;

    //neutral
$vdark-gray-blue: #4a4b5e;
$dark-gray-blue: #787887;

$light-gray-blue: #e7e7e9;

//text
    //colours
$fc-hover: $soft-red;
$fc-title: $vdark-desat-blue;
$fc-regular: $dark-gray-blue;

    //font-size
$fs-500: 1rem;
$fs-600: 1.2rem;
$fs-700: 2.675rem;

    //font-weight
$fw-500: 300;
$fw-600: 600;
$fw-700: 600;

body {
    position: relative;
    background: linear-gradient($gradient-violet, $gradient-blue) center/cover no-repeat;
    height: min-content;
    margin: 0px;
}

p {
    font-size: $fs-500;
    font-weight: $fw-500;
    color: $fc-regular;
}

h1 {
    font-size: $fs-600;
    font-weight: $fw-600;
}

h2 {
    color: $fc-title;
    font-size: $fs-700;
    font-weight: $fw-700;
}