:root {
    font-size: 9px;
}

//Colour variables
    //primary
$gradient-blue: #6565e7;
$gradient-violet: #af67e9;

$vdark-desat-blue: #1d1e35;
$soft-red: #f47c57;

    //neutral
$vdark-gray-blue: #4a4b5e;
$dark-gray-blue: #787887;

$light-gray-blue: #e7e7e9;

//text
    //colours
$fc-hover: $soft-red;
$fc-title: $vdark-desat-blue;
$fc-regular: $dark-gray-blue;

    //font-size
$fs-500: 1rem;
$fs-600: 1.125rem;
$fs-700: 2.675rem;

    //font-weight
$fw-500: 150;
$fw-600: 250;
$fw-700: 400;

body {
    position: relative;
    background: linear-gradient($gradient-violet, $gradient-blue) center/cover no-repeat;
    height: min-content;
    margin: 0px;
}